<!-- chat/templates/chat/lobby.html -->
{% extends 'base.html'%}

{% load static %}

<html>
    {% block title %}Lobby{% endblock %}

{% block content %}
<body data-username="{{ username }}">
    {% csrf_token %}
    <h1 id="room-name-header">Chat Room</h1>
    <h2 id="username">User: {{ username }}</h2>
    <textarea id="chat-log" cols="30" rows="10" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="30"><br>
    <button id="chat-message-submit">Send</button>

    <script type="text/javascript" src="{% static 'chat.js' %}"></script>
</body>
{% endblock %}


