<!-- chat/templates/chat/lobby.html -->
{% extends 'base.html'%}

{% load static %}

<html>
    {% block title %}Lobby{% endblock %}

{% block content %}
<body data-username="{{ username }}">
    {% csrf_token %}
    <h1 id="room-name-header">Chat Room</h1>
    <h2 id="username">User: {{ username }}</h2>
    <textarea id="chat-log" cols="30" rows="10" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="30"><br>
    <button id="chat-message-submit">Send</button>

    <h3>Start a private chat</h3>
    <form id="private-chat-form">
        <select id="user-select" name="user_select">
            {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <input id="private-chat-room" name="private_chat_room" type="text" size="30" placeholder="Enter Room Name"> <br>
        <button id="private-chat-submit" type="submit">Private Chat</button>
    </form>


    <script type="module" src="{% static 'chat.js' %}"></script>
</body>
{% endblock %}


