<!-- chat/templates/chat/login.html -->

{% extends 'base.html'%}

{% block title %}Join Chat{% endblock %}

{% block content %}
<h2>Chat</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="chat-message-input" name="room_name" type="text" size="100"><br>
    <button type="submit">create chat</button>
</form>

<h3>Registered Users</h3>
<select id="user-list">
    {% for user in users %}
        <option value="{{ user.username }}">{{ user.username }}</option>
    {% endfor %}
</select>

{% endblock %}
